PORT=
DB_URL=
NODE_ENV=development
CLIENT_URLS=http://localhost:5173
SALT_ROUNDS=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_EXPIRY=
GMAIL_USER=
GMAIL_PASS=
S3_BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
S3_BUCKET_NAME=
GEMINI_API_KEY=
SEED_ADMIN_ON_STARTUP=true
SEED_ADMIN_FULL_NAME=Super Admin
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_ROLE=superadmin
