PORT=
DB_URL=
SALT_ROUNDS=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_EXPIRY=
GMAIL_USER=
GMAIL_PASS=
S3_BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
S3_BUCKET_NAME=
GEMINI_API_KEY=